{% extends "base.html" %}
{% load bootstrap3 %}
{% block page_header %}
  <div >
    <h1 class="display-3">Topics</h1>`
  </div>
{% endblock page_header %}
{% block content %}

  <ul class="card mb-2 jumbotron">
    {% for topic in topics %}
      <li class="card-header"><h2>
        <a style="text-decoration:none; color: green" href="{% url 'learning_logs:topic' topic.id %}">{{ topic  }}</a>
      </h2></li>
    {% empty  %}
      <li class="card-body"><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>

  <a href="{% url 'learning_logs:new_topic' %}">
    <button class="btn btn-primary"><b><i>Add a topic</i></b>&raquo;</button>
  </a>

{% endblock content %}